@import url(http://fonts.googleapis.com/css?family=Domine:700);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrap {
	position: relative;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}

door {
	font-family: 'Domine', serif;
	font-size: 100px;
}

door:hover {
	color: #0044cc;		
	-webkit-transition: color .2s ease-in .2s;
}


p {
	margin-top: 200px;
}

button {
	width: 150px;
	height: 60px;
}

button#byyear {
	margin-right: 50px;
}

